---
import Experiencias from "./Experiencias.astro";
const exp = [
    {
        date: 'Actualmente...',
        title: 'Buscando',
        description: 'Actualmente me encuentro buscando empleo como programador junior FullStack. Aprendiendo Vue.js, ReactJS y Next.js para especializarme en Front-End',
        link: 'https://www.linkedin.com/in/PabloInsua/' 
    },
    {
        date: 'Mayo 2024 - Septiembre 2024',
        title: 'Sudespacho.net',
        description: 'El segundo año de la formación profesional dual fue al siguiente año en la misma empresa. En este período de prácticas me dieron acceso a un curso especializado en Cypress, posteriormente aplique los conocmientos del curso para realizar casos de tests automatizados en un aplicativo CRM dinámico.' 
    },
    {
        date: 'Mayo 2023 - Septiembre 2023',
        title: 'Sudespacho.net',
        description: 'Mi primera experiencia laboral como programador fue en esta empresa gallega. Fue un período de prácticas de 5 meses ya que el ciclo que realize fue de modalidad dual. En este período aprendí JavaScript, Node.js y Web Scrapping.' 
    }
]
---

<div class="flex flex-row">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-briefcase" width="36" height="36" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" /><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" /><path d="M12 12l0 .01" /><path d="M3 13a20 20 0 0 0 18 0" /></svg>
    <h2 class="text-4xl opacity-100 text-wrap ml-2">Experiencia Laboral</h2>
</div>

<ol class="relative border-s border-gray-200 dark:border-white-700 ml-4 mt-4">                  
    {
        exp.map(exp=> (
                <li class="mb-10 ms-4">
                        <Experiencias {...exp} />
                </li>
            ))
        }
</ol>



<style>
</style>